body {
  background-color: darkblue;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover{
    color: white;
   background-color: black;
   border: solid 1px white;
}

.Icon {
  font-size: 35px;
  color: #ffffff;
}

.btn-text-center{
	text-align: center;	
}